* {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.container-image {
    width: 100%;
    height: 100%;
    filter: sepia(50%);
    background-size: cover;
    animation: pan-image 120s infinite;
    object-fit: cover;
    background-repeat: no-repeat;
    transition-duration: 1s;
    opacity: 0.7;
    background-image: url(../img/bg-ph-1.jpg);
}

.container-overlay {
    background: radial-gradient(
        circle at center, white 1px, transparent 2px, transparent 49px
    );
    background-size: 52px 52px;
    height: 200%;
    width: 100%;
    animation: pan-overlay 120s infinite linear;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    opacity: 0.6;
    transition-duration: 1.5s;
}

@keyframes pan-overlay {
    0% {
      background-position: 0% 0%;
    }
    
    25% {
      background-position: 10% -25%;
    }

    50% {
        background-position: 20% 0%;
    }
  }

@keyframes pan-image {
    0% {
        background-position: 0% 0%;
    }

    25% {
        background-position: 100% 100%;
    }

    50% {
        background-position: 100% 0%;
    }

    75% {
        background-position: 0% 100%;
    }
}

.intro {
    z-index: 5 !important;
    position: absolute;
    top: 5%;
    left: 5%;
    transition-duration: 0.5s;
}

.intro > * {
    transition-duration: 1s;
    text-align: center;
    width: 100%;
    text-shadow: #FFF 1px 0 5px;
}

.intro h1 {
    line-height: 30px;
    padding-bottom: 6px;
}

.intro:hover {
    transform: scale(1.2);
}

.on-focus h6 {
    color: rgb(54, 54, 54)
}

.container:has(.intro:hover) .container-overlay {
    background: radial-gradient(
        circle at center, white 2px, transparent 3px, transparent 47px
    );
    background-size: 52px 52px;
    transform: translateY(-100px);
    -webkit-transform: translateY(-100px);
    -moz-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
}

.container:target .container-overlay {
    width: 0%;
}

.container:target .container-image {
    opacity: 0.4;
}

hr {
    margin: 5px 0px;
}

.on-focus {
    position: absolute;
    background-color: aliceblue;
    width: 40vw;
    top: 100vh;
    left: 30vw;
    transition-duration: 0.5s;
    border-radius: 5px;
}

.inline {
    margin: 15px;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.container:target .on-focus {
    top: 25vh;
}

.on-focus a {
    text-decoration: none;
}

.on-focus a:hover {
    color:rgb(12, 4, 66);
    text-decoration: underline;
}

.left-side {
    flex: 1;
}

.right-side {
    flex: 1;
}

figure img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.portrait {
    padding-left: 15px;
}

@media only screen and (max-width: 850px) {
    .on-focus {
        width: 80vw;
        left: 10vw;
    }

    .intro {
        width: 100vw;
        left: 0;
    }

    .intro:hover {
        transform: scale(1.2);
    }

    .portrait img {
        width: 50% !important;
    }
}

@media only screen and (max-width: 1250px) {
    .inline {
        flex-wrap: wrap;
    }

    .left-side {
        flex: none;
        max-width: 100%;
    }
    
    .right-side {
        flex: none;
        max-width: 100%;
    }

    .on-focus {
        width: 60vw;
        left: 20vw;
    }

    .portrait img {
        width: 30%;
    }

    .portrait {
        padding-top: 15px;
        padding-left: 0px;
        text-align: center;
    }
}